#loader {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    z-index: 10001;
    background-image: -webkit-linear-gradient(left, #F16F5C 0%, #F16F5C 12.5%, #5B56DD 12.5%, #5B56DD 25%, #E15CED 25%, #E15CED 37.5%, #27E559 37.5%, #27E559 50%, #18C8C9 50%, #18C8C9 62.5%, #DC8987 62.5%, #DC8987 75%, #BB83D6 75%, #BB83D6 87.5%, #E774BD 87.5%, #E774BD 100%);
    background-image: -moz-linear-gradient(left, #F16F5C 0%, #F16F5C 12.5%, #5B56DD 12.5%, #5B56DD 25%, #E15CED 25%, #E15CED 37.5%, #27E559 37.5%, #27E559 50%, #18C8C9 50%, #18C8C9 62.5%, #DC8987 62.5%, #DC8987 75%, #BB83D6 75%, #BB83D6 87.5%, #E774BD 87.5%, #E774BD 100%);

}
.loader{
    animation-iteration-count:infinite;
    animation:loader 2s linear;
    -webkit-animation: loader 2s linear;
    -webkit-animation-iteration-count:infinite;
    -moz-animation: loader 2s linear ;
    -moz-animation-iteration-count:infinite;
}
@-webkit-keyframes loader /*Safari and Chrome*/
{
    100% {
        background-position: 1920px 0;
    }

}


