a {
    text-decoration: none;
}
body {
    background-image: url('../images/bg.jpg');
    background-size: auto;
}
.blog-post-content img{ width: 100%}

.todo-project-list .nav li a .badge {
    float: right;
    margin-top: 1px!important;
}
.portlet.light{
    position: relative;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px -5px 0px 0px #47c9d4;
    border:1px solid #DCDDDE;
}
.portlet-bottom{
    height: 8px;
    left: 0;
    bottom: -8px;
    position: absolute;
    width: 100%;
}
.portlet-bottom div{
    background: url(../images/widget_bottom.png) no-repeat;
    width: 50%;
    height: 8px;
    float: left;
}
.portlet-bottom div.r {
    background-position: right;
}

.site-content {
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    border: #FFF 10px solid;
    border-top: none;
    border-radius: 10px 10px 15px 15px;
    box-shadow: 0 0 16px #E2E2E2;
    opacity: 0.9;
    padding-top: 160px;
}

body > .vegas-timer {
    position: fixed;
    z-index: -1;
    top: 0;
}

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 2px;
}

.content-area {
    width: 70%;
    float: left;
    padding: 10px 15px 0;
}

.widget-area {
    width: 30%;
    float: left;
    padding-top: 20px;
}

.article-post {
    margin: 0 0 20px;
    padding: 0 0 40px;
    background: url('../images/divider.png') center bottom no-repeat;
    background-size: 580px auto;
}



.pagination-div {
    width: 70%;
    text-align: center;
}




